* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f78f;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f0f0f;
    padding: 20px;
    color: white;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.hero {
    background: url("https://images.unsplash.com/photo-1604147706283-d7116e4c44f6") center/cover no-repeat;
    padding: 140px 20px;
    text-align: center;
    color: rgb(13, 13, 13);
}

.hero h1 {
    font-size: 2.8rem;
}

.btn {
    background: #080808;
    padding: 12px 25px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}


.cardapio {
    padding: 60px 20px;
    text-align: center;
}

.produtos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.item {
    background: yellow;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.preco {
    font-size: 1.1rem;
    color: #0a0a0a;
    font-weight: bold;
}

.btn-item {
    width: 100%;
    background: #0b0b0b;
    border: none;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.sobre {
    background: #e6f428;
    padding: 60px 20px;
    text-align: center;
}

.contato {
    padding: 60px 20px;
    text-align: center;
}

.form {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}   

.footer {
    background: #0e0d0d;
    color: white;
    padding: 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: rgb(14, 13, 13);
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 22px;
}

@media (max-width: 900px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .hamburger {
        display: block;
    }

    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        background: #0e0d0d;
        width: 200px;
        flex-direction: column;
        display: none;
        padding: 20px;
    }

    .nav.active {
        display: flex;
    }

    .produtos {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 1.9rem;
    }
}