
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #d1eef4;
  color: #333;
}


header {
  background:#000;
  color: white;
  padding: 20px;
}

header h1 {
  text-align: center;
}

nav {
  margin-top: 15px;
  text-align: left;
}

nav a {
  color: white;
  text-decoration: underline;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #000;
}


main {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.avaliacao {
    font-size: 18px;
    color: #F7C40F; 
    margin: 5px 0 10px 0;
}
.Preco {
     font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
.ofertas {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
}
.card img {
    width: 200px;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.card {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(6, 6, 6, 0.1);
}

.card h3 {
  color: #000;
  margin-bottom: 10px;
}

.card button {
  background:rgb(16, 15, 15);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card button:hover {
  background: #c85c00;
}


form {
  background: white;
  padding: 25px;
  width: 100%;
  max-width: 450px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

form h2 {
  text-align: right;
  color: #0A2342;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 5px;
}

button.submit {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button.submit:hover {
  background: #086684;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background: #000;
  color: white;
}


footer {
  margin-top: 40px;
  background: #000;
  padding: 20px;
  text-align: right;
  color: white;
}


@media (max-width: 768px) {
  .ofertas {
    grid-template-columns: 2fr;
  }

  nav a {
   display: inline-block;
   margin: 10px;
  }
}